<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Malaria Detection Result</title>
    <link rel="stylesheet" href="../static/malaria.css">
</head>
<body>
    <div class="container">
        <h2>نتيجة تحليل الملاريا هي:</h2>
        <p class="result">{{ prediction }}</p>
        <button onclick="location.href='/malaria'">تحليل من جديد</button>
        <button onclick="location.href='/'">الصفحة الرئيسية</button>
    </div>
</body>
</html>